@model SimionatoChefBusiness.Models.View.MinhasVendasView
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SimiInfo| Monitor Vendas</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
</head>
<body class="hold-transition skin-blue-light sidebar-collapse sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="Dashboard" class="logo">
                <span class="logo-mini"><b>S</b>I</span>
                <span class="logo-lg"><b>Simi</b>Info</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Menu</span> </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="Login/Logoff"> <i class="glyphicon glyphicon-log-out"></i> </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="main-sidebar">
                    <div class="sidebar">
                        <div class="user-panel">
                            <div class="pull-left image"> <img src="~/Content/img/user_icon.png"></div>
                            <div class="pull-left info">
                                <p>@Html.DisplayFor(model => model.Usuario.Nome)</p>
                                <a href="#"><i class="text-success"></i>@Html.DisplayFor(model => model.Usuario.Cargo)</a>
                            </div>
                        </div>
                        <ul class="sidebar-menu">
                            <li>
                                <a href="Dashboard"> <i class="glyphicon glyphicon-home"></i> <span>Inicio</span></a>
                            <li>
                                <a href="#"> <i class="	glyphicon glyphicon-shopping-cart"></i> <span>Vendas</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>                    </a>
                                <ul class="treeview-menu">
                                    <li><a href="Venda/CriarVenda"><i class="fa fa-circle-o"></i> Criar Venda</a></li>
                                    <li><a href="Venda/MinhasVendas"><i class="fa fa-circle-o"></i> Minhas Vendas</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"> <i class="glyphicon glyphicon-glass"></i> <span>Estoque</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>                    </a>
                                <ul class="treeview-menu">
                                    <li><a href="Produto"><i class="fa fa-circle-o"></i> Produtos</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-usd"></i> <span>Financeiro</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="Financeiro/RelatorioVendas">
                                            <i class="fa fa-circle-o"></i> Relatório de Vendas
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i> <span>Configurações</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="Cliente">
                                            <i class="fa fa-circle-o"></i> Clientes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Usuario">
                                            <i class="fa fa-circle-o"></i> Usuários
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Inicio
                    <small>Vendas</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="Dashboard"><i class="fa fa-dashboard"></i> Monitor de Vendas</a></li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    @foreach (var element in Model.ListaVendas)
                                    {
                                    <tr>
                                        <!-- Nome do produto--><td>@Html.DisplayFor(m => element.produtos)</td>
                                        <!-- Id do produto--><td>@Html.DisplayFor(m => element.produtos)</td>
                                    </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h1 class="box-title bg-orange">Venda: XXX Data: XXXXXX</h1>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                    </tr>
                                    <tr>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">Refrigerante X</a></td>
                                        <td><a href="Venda/MinhasVendas/@Html.DisplayFor(m => element.id)">2</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.1
            </div>
            <strong>Copyright &copy; 2016-@DateTime.Now.Year <a href="#">Gustavo Simionato</a>.</strong> Todos os Direitos Reservados.
        </footer>
    </div>
    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/plugins/fastclick/fastclick.js"></script>
    <script src="~/Content/dist/js/app.min.js"></script>
    <script src="~/Content/dist/js/demo.js"></script>
</body>
</html>